*.sublime-workspace
*.log
*.mo
.DS_Store
*:Zone.Identifier

node_modules

dist
build

reports
coverage
glyphCharMap.js

.idea/
v1

packages/*/yarn.lock

test-results
screenshots
tmp/
.lambdatest/
.env
.env-template